<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username
                <input type="text" name="username" id="username">
            </label>
            <label for="password">Password
                <input type="password" name="password" id="password">
            </label>
            <input type="submit" name="submit" id="submit" value="Login">
        </form>
    </body>
</html>